/*電卓全体のデザイン装飾*/
table{
/*電卓のサイズ設定*/
 width:300px;
 height:500px;
 background-color: #D71345;
/*電卓の外観に陰影をつける*/
 border:1px solid #000B00;
 border-right: 4px solid #000B00;
 border-bottom: 4px solid #000B00;
 border-radius: 10px;
/*ボタンを中央寄せにし、余白を微調整*/
 text-align: center;
 padding:8px;
 margin: 20px;
}

/*液晶画面のみ表示サイズの調整*/
#result{
 height: 60px;
 font-size: 30px;
 text-align:rigth;
 width:calc(100%/1.2);
 border-radius: 5px;
 background-color: #F4FBFE;
}

/*５段目のボタンのみサイズ変更する(適用できず→適用するには？)*/
.button_fifth{
 width: calc(100%/2);
}

/*１〜４段目のボタンの外観を装飾する*/
button{
 width: 70px;
 height: 60px;
 font-size:30px;
 font-weight: 700;
 background-color: #4D4D4F;
 border-right: 5px solid #000B00;
 border-bottom: 5px solid #000B00;
 border-radius: 15px;
 outline:none;
}

/*ボタン部分のみカーソルを乗せたら色が変化する*/
button:hover{
 border-color: #00B7CE;
}

/*液晶部分のみhover要素を消す*/
#result:hover{
  border-color:#000000;
}